*{
    margin: 0;
    padding: 0;
    /* width: 100vw; */
}
body{
    width: 100vw;
}

.container{

    margin-top
    : 46px;
    margin-left: 413px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(auto,auto));
    grid-template-rows: auto auto;
}
.box1{
    background-color: lightgreen;
    width: 400px;
    border-radius: 5px;
    border:2px solid lightgreen;
}
.box2{
    background-color: grey;
    border:2px solid grey;
    border-radius: 5px;
    width: 400px;
    height: 50vh;
}
#subm{
    margin-top: 10px;
    background-color:lightgreen;
}
